Repository odockal/podman-desktop, changes with the owners that CODEOWNERS names for each.
All owners: @containers/podman-desktop-reviewers, @benoitf, @slemeur, @cdrage, @shipsing, @containers/podman-desktop-qe-reviewers

Update pr-check.yaml
  .github/workflows/pr-check.yaml
Owners: @containers/podman-desktop-reviewers, @benoitf

Create test-composite.yml
  .github/workflows/test-composite.yml
Owners: @containers/podman-desktop-reviewers, @benoitf

Update test-composite.yml
  .github/workflows/test-composite.yml
Owners: @containers/podman-desktop-reviewers, @benoitf

Update test-composite.yml
  .github/workflows/test-composite.yml
Owners: @containers/podman-desktop-reviewers, @benoitf

Update test-composite.yml
  .github/workflows/test-composite.yml
Owners: @containers/podman-desktop-reviewers, @benoitf

Update test-composite.yml
  .github/workflows/test-composite.yml
Owners: @containers/podman-desktop-reviewers, @benoitf

Update test-composite.yml
  .github/workflows/test-composite.yml
Owners: @containers/podman-desktop-reviewers, @benoitf

chore(ci,test): run e2e tests on windows runner from pr check
  .github/workflows/pr-check.yaml
  tests/playwright/src/specs/image-manifest-smoke.spec.ts
  tests/playwright/src/specs/image-smoke.spec.ts
  tests/playwright/src/specs/pod-smoke.spec.ts
  tests/playwright/src/specs/podman-compose-smoke.spec.ts
  tests/playwright/src/utility/platform.ts
Owners: @containers/podman-desktop-reviewers, @benoitf, @containers/podman-desktop-qe-reviewers

ci: enable only e2e test
  .github/workflows/pr-check.yaml
  tests/playwright/src/specs/image-manifest-smoke.spec.ts
  tests/playwright/src/specs/image-smoke.spec.ts
  tests/playwright/src/specs/pod-smoke.spec.ts
  tests/playwright/src/specs/podman-compose-smoke.spec.ts
  tests/playwright/src/specs/volume-smoke.spec.ts
  tests/playwright/src/specs/yaml-smoke.spec.ts
  tests/playwright/src/utility/operations.ts
Owners: @containers/podman-desktop-reviewers, @benoitf, @containers/podman-desktop-qe-reviewers

chore(ci,test): run e2e tests on windows runner from pr check
  .github/workflows/pr-check.yaml
  tests/playwright/src/specs/image-manifest-smoke.spec.ts
  tests/playwright/src/specs/image-smoke.spec.ts
  tests/playwright/src/specs/pod-smoke.spec.ts
  tests/playwright/src/specs/podman-compose-smoke.spec.ts
  tests/playwright/src/utility/platform.ts
Owners: @containers/podman-desktop-reviewers, @benoitf, @containers/podman-desktop-qe-reviewers

ci: enable only e2e test
  .github/workflows/pr-check.yaml
  tests/playwright/src/specs/image-manifest-smoke.spec.ts
  tests/playwright/src/specs/image-smoke.spec.ts
  tests/playwright/src/specs/pod-smoke.spec.ts
  tests/playwright/src/specs/podman-compose-smoke.spec.ts
  tests/playwright/src/specs/volume-smoke.spec.ts
  tests/playwright/src/specs/yaml-smoke.spec.ts
  tests/playwright/src/utility/operations.ts
Owners: @containers/podman-desktop-reviewers, @benoitf, @containers/podman-desktop-qe-reviewers

Update e2e-main.yaml
  .github/workflows/e2e-main.yaml
Owners: @containers/podman-desktop-reviewers, @benoitf

chore(ci,test): run e2e tests on windows runner from pr check
  .github/workflows/pr-check.yaml
  tests/playwright/src/specs/image-manifest-smoke.spec.ts
  tests/playwright/src/specs/image-smoke.spec.ts
  tests/playwright/src/specs/pod-smoke.spec.ts
  tests/playwright/src/specs/podman-compose-smoke.spec.ts
  tests/playwright/src/utility/platform.ts
Owners: @containers/podman-desktop-reviewers, @benoitf, @containers/podman-desktop-qe-reviewers

ci: enable only e2e test
  .github/workflows/pr-check.yaml
  tests/playwright/src/specs/image-manifest-smoke.spec.ts
  tests/playwright/src/specs/image-smoke.spec.ts
  tests/playwright/src/specs/pod-smoke.spec.ts
  tests/playwright/src/specs/podman-compose-smoke.spec.ts
  tests/playwright/src/specs/volume-smoke.spec.ts
  tests/playwright/src/specs/yaml-smoke.spec.ts
  tests/playwright/src/utility/operations.ts
Owners: @containers/podman-desktop-reviewers, @benoitf, @containers/podman-desktop-qe-reviewers

chore(ci,test): run e2e tests on windows runner from pr check
  .github/workflows/pr-check.yaml
  tests/playwright/scripts/build.cjs
  tests/playwright/src/specs/image-manifest-smoke.spec.ts
  tests/playwright/src/specs/image-smoke.spec.ts
  tests/playwright/src/specs/pod-smoke.spec.ts
  tests/playwright/src/specs/podman-compose-smoke.spec.ts
  tests/playwright/src/utility/platform.ts
Owners: @containers/podman-desktop-reviewers, @benoitf, @containers/podman-desktop-qe-reviewers

ci: enable only e2e test
  .github/workflows/pr-check.yaml
  tests/playwright/src/specs/image-manifest-smoke.spec.ts
  tests/playwright/src/specs/image-smoke.spec.ts
  tests/playwright/src/specs/pod-smoke.spec.ts
  tests/playwright/src/specs/podman-compose-smoke.spec.ts
  tests/playwright/src/specs/volume-smoke.spec.ts
  tests/playwright/src/specs/yaml-smoke.spec.ts
  tests/playwright/src/utility/operations.ts
Owners: @containers/podman-desktop-reviewers, @benoitf, @containers/podman-desktop-qe-reviewers

chore(ci,test): run e2e tests on windows runner from pr check
  .github/workflows/pr-check.yaml
  tests/playwright/scripts/build.cjs
  tests/playwright/src/specs/image-manifest-smoke.spec.ts
  tests/playwright/src/specs/image-smoke.spec.ts
  tests/playwright/src/specs/pod-smoke.spec.ts
  tests/playwright/src/specs/podman-compose-smoke.spec.ts
  tests/playwright/src/utility/platform.ts
Owners: @containers/podman-desktop-reviewers, @benoitf, @containers/podman-desktop-qe-reviewers

ci: enable only e2e test
  .github/workflows/pr-check.yaml
  tests/playwright/src/specs/image-manifest-smoke.spec.ts
  tests/playwright/src/specs/image-smoke.spec.ts
  tests/playwright/src/specs/pod-smoke.spec.ts
  tests/playwright/src/specs/podman-compose-smoke.spec.ts
  tests/playwright/src/specs/volume-smoke.spec.ts
  tests/playwright/src/specs/yaml-smoke.spec.ts
  tests/playwright/src/utility/operations.ts
Owners: @containers/podman-desktop-reviewers, @benoitf, @containers/podman-desktop-qe-reviewers

Update e2e-main.yaml
  .github/workflows/e2e-main.yaml
Owners: @containers/podman-desktop-reviewers, @benoitf

Update e2e-main.yaml
  .github/workflows/e2e-main.yaml
Owners: @containers/podman-desktop-reviewers, @benoitf

Update e2e-main.yaml
  .github/workflows/e2e-main.yaml
Owners: @containers/podman-desktop-reviewers, @benoitf

Update e2e-main.yaml
  .github/workflows/e2e-main.yaml
Owners: @containers/podman-desktop-reviewers, @benoitf

Update e2e-main.yaml
  .github/workflows/e2e-main.yaml
Owners: @containers/podman-desktop-reviewers, @benoitf

Update e2e-main.yaml
  .github/workflows/e2e-main.yaml
Owners: @containers/podman-desktop-reviewers, @benoitf

Update e2e-main.yaml
  .github/workflows/e2e-main.yaml
Owners: @containers/podman-desktop-reviewers, @benoitf

Update e2e-main.yaml
  .github/workflows/e2e-main.yaml
Owners: @containers/podman-desktop-reviewers, @benoitf

chore: include arm based podman installer
  .electron-builder.config.cjs
  extensions/podman/packages/extension/src/installer/win-installer.ts
  extensions/podman/packages/extension/src/podman5.json
Owners: @containers/podman-desktop-reviewers, @benoitf

chore: update electron and adjust test describe timeout
  package.json
  pnpm-lock.yaml
  tests/playwright/src/special-specs/installation/podman-installer.spec.ts
  tests/playwright/src/special-specs/installation/update-install.spec.ts
Owners: @containers/podman-desktop-reviewers, @benoitf, @containers/podman-desktop-qe-reviewers

chore(test): move test images to ghcr.io
  tests/playwright/resources/images/bootc-image-builder.containerfile
  tests/playwright/resources/images/podify-demo-backend.containerfile
  tests/playwright/resources/images/podify-demo-frontend.containerfile
Owners: @containers/podman-desktop-reviewers, @containers/podman-desktop-qe-reviewers, @benoitf

chore(test): adjust tests for cdp runner and downstream variation
  tests/playwright/src/model/pages/welcome-page.ts
  tests/playwright/src/specs/extension-installation-smoke.spec.ts
  tests/playwright/src/specs/extension-onboarding-smoke.spec.ts
  tests/playwright/src/specs/image-smoke.spec.ts
  tests/playwright/src/specs/podman-kube-play-smoke.spec.ts
  tests/playwright/src/specs/search-bar-smoke.spec.ts
  tests/playwright/src/specs/yaml-smoke.spec.ts
Owners: @containers/podman-desktop-reviewers, @containers/podman-desktop-qe-reviewers, @benoitf

Test podman from ubuntu 26 pr-check.yaml
  .github/workflows/pr-check.yaml
Owners: @containers/podman-desktop-reviewers, @benoitf

Configure Ubuntu resolute repository and install podman
  .github/workflows/pr-check.yaml
Owners: @containers/podman-desktop-reviewers, @benoitf

Fix PR check YAML for package installation and priorities
  .github/workflows/pr-check.yaml
Owners: @containers/podman-desktop-reviewers, @benoitf

Update PR check workflow to enable resolute repo
  .github/workflows/pr-check.yaml
Owners: @containers/podman-desktop-reviewers, @benoitf

update -r-check
  .github/workflows/pr-check.yaml
Owners: @containers/podman-desktop-reviewers, @benoitf

Update package sources and installation for questing
  .github/workflows/pr-check.yaml
Owners: @containers/podman-desktop-reviewers, @benoitf

Refactor podman installation in PR check workflow
  .github/workflows/pr-check.yaml
Owners: @containers/podman-desktop-reviewers, @benoitf

Update pr-check.yaml
  .github/workflows/pr-check.yaml
Owners: @containers/podman-desktop-reviewers, @benoitf

Fix syntax in pr-check.yaml for apt commands
  .github/workflows/pr-check.yaml
Owners: @containers/podman-desktop-reviewers, @benoitf

Update Podman installation method in workflow
  .github/workflows/pr-check.yaml
Owners: @containers/podman-desktop-reviewers, @benoitf

CODEOWNERS:

# Default Owners TEST
* @containers/podman-desktop-reviewers @benoitf

# website
website/** @containers/podman-desktop-reviewers @slemeur @cdrage @benoitf
website/docs/** @containers/podman-desktop-reviewers @shipsing @slemeur @cdrage @benoitf

# playwright tests
tests/playwright/** @containers/podman-desktop-reviewers @containers/podman-desktop-qe-reviewers @benoitf
