Repository odockal/podman-desktop, changes with the owners that CODEOWNERS names for each.
All owners: @containers/podman-desktop-reviewers, @benoitf, @slemeur, @cdrage, @shipsing, @containers/podman-desktop-qe-reviewers

CODEOWNERS:

# Default Owners TEST
* @containers/podman-desktop-reviewers @benoitf

# website
website/** @containers/podman-desktop-reviewers @slemeur @cdrage @benoitf
website/docs/** @containers/podman-desktop-reviewers @shipsing @slemeur @cdrage @benoitf

# playwright tests
tests/playwright/** @containers/podman-desktop-reviewers @containers/podman-desktop-qe-reviewers @benoitf

Update pr-check.yaml
  .github/workflows/pr-check.yaml
Owners: @containers/podman-desktop-reviewers, @benoitf

Add external actions for Podman installation and testenv setup
  .github/workflows/pr-check.yaml
Owners: @containers/podman-desktop-reviewers, @benoitf

Update pr-check.yaml
  .github/workflows/pr-check.yaml
Owners: @containers/podman-desktop-reviewers, @benoitf

Update Podman installation action and parameters
  .github/workflows/pr-check.yaml
Owners: @containers/podman-desktop-reviewers, @benoitf

Change Podman install action to issue-8 version
  .github/workflows/pr-check.yaml
Owners: @containers/podman-desktop-reviewers, @benoitf

Modify Podman installation and cleanup workflow
  .github/workflows/pr-check.yaml
Owners: @containers/podman-desktop-reviewers, @benoitf

Update podman-install action with allow-upgrade
  .github/workflows/pr-check.yaml
Owners: @containers/podman-desktop-reviewers, @benoitf

chore: smoke is welcome test only
  package.json
  pnpm-lock.yaml
  tests/playwright/resources/kube-config
Owners: @containers/podman-desktop-reviewers, @benoitf, @containers/podman-desktop-qe-reviewers

chore: use only welcome e2e test
  package.json
Owners: @containers/podman-desktop-reviewers, @benoitf

chore: changes to run more tests with 1.0.x
  tests/playwright/src/model/pages/pull-image-page.ts
  tests/playwright/src/model/pages/resource-connection-card-page.ts
  tests/playwright/src/specs/image-smoke.spec.ts
  tests/playwright/src/utility/operations.ts
Owners: @containers/podman-desktop-reviewers, @containers/podman-desktop-qe-reviewers, @benoitf

chore: provide a channel to update mechanism
  .electron-builder.config.cjs
  packages/main/src/plugin/updater.spec.ts
  packages/main/src/plugin/updater.ts
  product.json
Owners: @containers/podman-desktop-reviewers, @benoitf

chore: add update e2e from generic server workflow
  .github/workflows/e2e-update-generic-server.yaml
Owners: @containers/podman-desktop-reviewers, @benoitf

chore: bind http server to ipv4 on 127.0.0.1 on win
  .github/workflows/e2e-update-generic-server.yaml
Owners: @containers/podman-desktop-reviewers, @benoitf

chore: debug
  .github/workflows/e2e-update-generic-server.yaml
Owners: @containers/podman-desktop-reviewers, @benoitf

chore: move http server start up into test run step
  .github/workflows/e2e-update-generic-server.yaml
Owners: @containers/podman-desktop-reviewers, @benoitf

Create e2e-update-generic.yml
  .github/workflows/e2e-update-generic.yml
Owners: @containers/podman-desktop-reviewers, @benoitf

Refactor e2e-update-generic workflow for clarity
  .github/workflows/e2e-update-generic.yml
Owners: @containers/podman-desktop-reviewers, @benoitf

Update e2e-update-generic.yml
  .github/workflows/e2e-update-generic.yml
Owners: @containers/podman-desktop-reviewers, @benoitf

Update e2e-update-generic.yml
  .github/workflows/e2e-update-generic.yml
Owners: @containers/podman-desktop-reviewers, @benoitf

Refactor HTTP server setup in e2e workflow
  .github/workflows/e2e-update-generic.yml
Owners: @containers/podman-desktop-reviewers, @benoitf

Update e2e-update-generic.yml
  .github/workflows/e2e-update-generic.yml
Owners: @containers/podman-desktop-reviewers, @benoitf

Refactor e2e-update-generic.yml for clarity and updates
  .github/workflows/e2e-update-generic.yml
Owners: @containers/podman-desktop-reviewers, @benoitf

Update e2e-update-generic.yml
  .github/workflows/e2e-update-generic.yml
Owners: @containers/podman-desktop-reviewers, @benoitf

Update timeout in e2e-update-generic.yml
  .github/workflows/e2e-update-generic.yml
Owners: @containers/podman-desktop-reviewers, @benoitf

Add retry logic for update server readiness
  .github/workflows/e2e-update-generic.yml
Owners: @containers/podman-desktop-reviewers, @benoitf

chore: make the autostart locator using regexp (#17782)
  tests/playwright/src/model/pages/podman-onboarding-page.ts
Owners: @containers/podman-desktop-reviewers, @containers/podman-desktop-qe-reviewers, @benoitf

chore(test): add build-specific preinstalled extensions
  tests/playwright/resources/preinstalled-extensions.txt
Owners: @containers/podman-desktop-reviewers, @containers/podman-desktop-qe-reviewers, @benoitf

chore(test): universal create container dialog button
  tests/playwright/src/model/pages/containers-page.ts
Owners: @containers/podman-desktop-reviewers, @containers/podman-desktop-qe-reviewers, @benoitf

chore(test): skip kind test unsupported with CDP
  tests/playwright/src/specs/kind.spec.ts
Owners: @containers/podman-desktop-reviewers, @containers/podman-desktop-qe-reviewers, @benoitf
