Repository odockal/podman-desktop, changes with the owners that CODEOWNERS names for each.
All owners: @containers/podman-desktop-reviewers, @benoitf, @slemeur, @cdrage, @shipsing, @containers/podman-desktop-qe-reviewers

Update pnpm-lock.yaml
  pnpm-lock.yaml
Owners: @containers/podman-desktop-reviewers, @benoitf

Update pr-check.yaml with mac os updater
  .github/workflows/pr-check.yaml
Owners: @containers/podman-desktop-reviewers, @benoitf

Update pr-check.yaml
  .github/workflows/pr-check.yaml
Owners: @containers/podman-desktop-reviewers, @benoitf

Update pr-check.yaml
  .github/workflows/pr-check.yaml
Owners: @containers/podman-desktop-reviewers, @benoitf

Update pr-check.yaml
  .github/workflows/pr-check.yaml
Owners: @containers/podman-desktop-reviewers, @benoitf

Update pr-check.yaml
  .github/workflows/pr-check.yaml
Owners: @containers/podman-desktop-reviewers, @benoitf

Update pr-check.yaml
  .github/workflows/pr-check.yaml
Owners: @containers/podman-desktop-reviewers, @benoitf

Update pr-check.yaml
  .github/workflows/pr-check.yaml
Owners: @containers/podman-desktop-reviewers, @benoitf

Update pr-check.yaml
  .github/workflows/pr-check.yaml
Owners: @containers/podman-desktop-reviewers, @benoitf

Update pr-check.yaml
  .github/workflows/pr-check.yaml
Owners: @containers/podman-desktop-reviewers, @benoitf

Update pr-check.yaml
  .github/workflows/pr-check.yaml
Owners: @containers/podman-desktop-reviewers, @benoitf

Update pr-check.yaml
  .github/workflows/pr-check.yaml
Owners: @containers/podman-desktop-reviewers, @benoitf

Update pr-check.yaml
  .github/workflows/pr-check.yaml
Owners: @containers/podman-desktop-reviewers, @benoitf

chore(ci): update e2e tests to run on ubuntu-2404
  .github/workflows/pr-check.yaml
Owners: @containers/podman-desktop-reviewers, @benoitf

Update pr-check.yaml with mac os updater
  .github/workflows/pr-check.yaml
Owners: @containers/podman-desktop-reviewers, @benoitf

chore(ci): mac os update e2e test
  .github/workflows/pr-check.yaml
Owners: @containers/podman-desktop-reviewers, @benoitf

Update pr-check.yaml
  .github/workflows/pr-check.yaml
Owners: @containers/podman-desktop-reviewers, @benoitf

Update pr-check.yaml
  .github/workflows/pr-check.yaml
Owners: @containers/podman-desktop-reviewers, @benoitf

Update pr-check.yaml
  .github/workflows/pr-check.yaml
Owners: @containers/podman-desktop-reviewers, @benoitf

Update pr-check.yaml
  .github/workflows/pr-check.yaml
Owners: @containers/podman-desktop-reviewers, @benoitf

Update pr-check.yaml
  .github/workflows/pr-check.yaml
Owners: @containers/podman-desktop-reviewers, @benoitf

Update pr-check.yaml
  .github/workflows/pr-check.yaml
Owners: @containers/podman-desktop-reviewers, @benoitf

Update pr-check.yaml
  .github/workflows/pr-check.yaml
Owners: @containers/podman-desktop-reviewers, @benoitf

Update pr-check.yaml
  .github/workflows/pr-check.yaml
Owners: @containers/podman-desktop-reviewers, @benoitf

Update pr-check.yaml
  .github/workflows/pr-check.yaml
Owners: @containers/podman-desktop-reviewers, @benoitf

Update pr-check.yaml
  .github/workflows/pr-check.yaml
Owners: @containers/podman-desktop-reviewers, @benoitf

Update pr-check.yaml
  .github/workflows/pr-check.yaml
Owners: @containers/podman-desktop-reviewers, @benoitf

Update pr-check.yaml
  .github/workflows/pr-check.yaml
Owners: @containers/podman-desktop-reviewers, @benoitf

Update pr-check.yaml
  .github/workflows/pr-check.yaml
Owners: @containers/podman-desktop-reviewers, @benoitf

chore(tests): refactor extension installation to be reused
  tests/playwright/src/specs/extension-installation-smoke.spec.ts
  tests/playwright/src/utility/extension-operation.ts
Owners: @containers/podman-desktop-reviewers, @containers/podman-desktop-qe-reviewers, @benoitf

chore(test,ci): add option to install all extensions before update
  .github/workflows/e2e-main.yaml
  tests/playwright/src/model/core/extensions.ts
  tests/playwright/src/model/pages/extensions-page.ts
  tests/playwright/src/special-specs/installation/update-install.spec.ts
Owners: @containers/podman-desktop-reviewers, @benoitf, @containers/podman-desktop-qe-reviewers

fix: add unique artifacts name in workflow
  .github/workflows/e2e-main.yaml
  tests/playwright/src/model/pages/extensions-page.ts
Owners: @containers/podman-desktop-reviewers, @benoitf, @containers/podman-desktop-qe-reviewers

chore: add soft assert for extension installation
  tests/playwright/src/special-specs/installation/update-install.spec.ts
Owners: @containers/podman-desktop-reviewers, @containers/podman-desktop-qe-reviewers, @benoitf

chore(test,ci): add option to install all extensions before update
  .github/workflows/e2e-main.yaml
  tests/playwright/src/model/core/extensions.ts
  tests/playwright/src/model/pages/extensions-page.ts
  tests/playwright/src/special-specs/installation/update-install.spec.ts
Owners: @containers/podman-desktop-reviewers, @benoitf, @containers/podman-desktop-qe-reviewers

fix: add missing index.ts exports, fix wrong labels
  tests/playwright/src/index.ts
  tests/playwright/src/model/core/extensions.ts
  tests/playwright/src/special-specs/installation/update-install.spec.ts
Owners: @containers/podman-desktop-reviewers, @containers/podman-desktop-qe-reviewers, @benoitf

fix: playwright install defaults
  package.json
Owners: @containers/podman-desktop-reviewers, @benoitf

Update pr-check.yaml with windows for e2e
  .github/workflows/pr-check.yaml
Owners: @containers/podman-desktop-reviewers, @benoitf

Update pr-check.yaml
  .github/workflows/pr-check.yaml
Owners: @containers/podman-desktop-reviewers, @benoitf

Update pr-check.yaml
  .github/workflows/pr-check.yaml
Owners: @containers/podman-desktop-reviewers, @benoitf

Update pr-check.yaml
  .github/workflows/pr-check.yaml
Owners: @containers/podman-desktop-reviewers, @benoitf

CODEOWNERS:

# Default Owners TEST
* @containers/podman-desktop-reviewers @benoitf

# website
website/** @containers/podman-desktop-reviewers @slemeur @cdrage @benoitf
website/docs/** @containers/podman-desktop-reviewers @shipsing @slemeur @cdrage @benoitf

# playwright tests
tests/playwright/** @containers/podman-desktop-reviewers @containers/podman-desktop-qe-reviewers @benoitf
